@import '../../theme/theme';

.container {
  position: relative;
  width: 100%;

  .range {
    position: absolute;
    background-color: $orange;

    top: 25px;
    height: 12px;

    transition: all 150ms ease;

    &:hover {
      cursor: pointer;
      transform: scaleY(1.2);
    }
  }
}

:global(.irs-bar), :global(.irs-single) {
  background-color: $red !important;
  z-index: 1 !important;
}

:global(.irs-grid-text) {
  color: rgba(white, 0.9) !important;
}

:global(.irs-min), :global(.irs-max) {
  color: rgba(black, 0.9) !important;
}