@import '../../theme/theme';

.sidebar {
  position: relative;
  height: 100%;

  transition: width 150ms ease;

  .tab {
    @include shadow;
    @include flexCenter;

    position: absolute;
    left: -32px;
    top: calc(50% - 32px);

    width: 32px;
    height: 64px;

    background-color: $red;

    &:hover {
      cursor: pointer;
    }

    & > svg {
      color: white;
      width: 18px;
      height: auto;
    }
  }

  .content {
    @include shadow;

    overflow-x: hidden;

    width: inherit;
    height: inherit;

    background-color: #eeeeee;

    & > h2 {
      font-family: 'Rubik', sans-serif;
      font-weight: bold;
      font-size: 12px;

      margin: 0;
      padding: 32px 16px 8px 16px;

      color: $red;
    }

    .entry {
      @include flexRow;

      align-items: center;

      & > p {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;

        margin: 0;
        margin-right: auto;

        padding: 16px 0;

        transition: all 100ms ease;

        &:hover {
          cursor: pointer;
          color: $red;
        }
      }

      .color {
        @include shadow;

        border-radius: 50%;
        width: 32px;
        height: 32px;

        margin: 0 16px;
      }

      .tick {
        @include shadow;

        width: 24px;
        height: 24px;

        margin-right: 12px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}